/* Divs Styles */
.same_height-divs{
    min-height: 160px;
    max-height: 300px;
}
/* END of Divs Styles */

/* Backgrounds Styles */
.weekday-bg{background-color: #A2CA74}
.today-bg{background-color: white}
/* END of Backgrounds Styles */

/* HR Styles */
.weekday-hr{border: 2px solid white; background: white; width: 90%; vertical-align: middle; padding: 0px 0;}
.temps-hr{border: 0.5px solid white; background: white; width: 100%; margin-top:1%; margin-bottom:1%; padding: 0px 0;}
.today-hr{border: 0.5px solid #6EB043; background: #6EB043; margin-top: 2%; margin-bottom: 28%; padding: 0px 0; width: 80%;}
.today-text-hr{margin-top: 75px; border: 0.5px solid #6EB043; background: #6EB043; width: 100%; vertical-align: middle; padding: 0px 0;}
/* END of HR Styles */

/* Text Styles */
/* Fazer maneira de baixar todas as font-size se for abaixo de uma certa width (dispositivo movel) */
.event_day-text{color: white; font-size: 12px; font-weight: bold; margin-top: 10%; white-space: nowrap; text-overflow: ellipsis;}
.temp_day-text{color: white; font-size: 12px; font-weight: bold;}
.week_day-text{color: white; font-size: 12px; font-weight: bolder; text-align: right; margin-left: -1%;}
.day-text{color: white; font-size: 40px; font-weight: bolder; text-align: right; margin-top: -5%; margin-bottom: 0px;}

.today_week_day-text{color: #84B842; font-size: 16px; text-align: right; margin-top: 5%; margin-bottom: -2%}
.today-text{color: #89B050; font-size: 70px; font-weight: bold; text-align: right; margin-right: -11%;}
.today-text span {position:  absolute; bottom: -15px; right: 0;}
.c_month_year-text{color:  #009B48; font-size: 50px; font-weight: bold; text-align: center;}

/* @media (max-width: 768px) {
    .c_month_year-text{font-size: 25px}
} */
/* END of Text Styles */

/* Borders Styles */
.msg-border{border-left: 1px solid black; border-right: 1px solid black;}
.day-border{border: 0.1px solid white;}
/* END of Bordes Styles */

/* Cols in clearfix all with the same height style */
.clearfix{
    overflow: hidden;
}
.clearfix [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
/* END of Cols in clearfix all with the same height style */



/* Not Using */
.local-bg{background-color: #84B842}
.categoria-bg{background-color: #00974B}
.subcategoria-bg{background-color: #095537}
.navbar-bg{background-color: #6EB043}
.ultimas-bg{background-color: #009B4D}
.DiaEscuro-bg{background-color: #86B742}

.VerdeEscuro-hr{border: 2px solid #0F4C1F; width: 80%; padding: 0px 0}

.he-text{color: white; font-weight: bold; padding-left: 5%; padding-top: 2%; padding-bottom: 0%}
.nbar-text{color: #198632; text-decoration-color: #198632; font-weight: bold; margin-bottom: 0px;}
.ult-txt-tit{color: white; font-size: 20px;}
.ult-txt-res{color: white; font-size: 12px;}
/* END of Not Using and CSS file */